[project]
name = 'autokitteh'
version = '0.3.6'
description = 'AutoKitteh Python SDK'
readme = 'README.md'
license = {file = 'LICENSE'}
requires-python = '>= 3.11'

[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project.optional-dependencies]
# The AutoKitteh environment when running workflows
all = [
	"asana ~= 5.0",
	"atlassian-python-api ~= 3.41",
	"boto3 ~= 1.35",
	"discord.py ~= 2.4",
	"google-api-python-client ~= 2.144",
	"google-auth-httplib2 ~= 0.2",
	"google-auth-oauthlib ~= 1.2",
	#"google-generativeai == 0.7.2",
	"openai ~= 1.44",
	"PyGithub @ git+https://github.com/PyGithub/PyGithub.git@c44ec523b1830c2d747fcf417b478562854664e8",
	"redis ~= 5.0",
	"slack-sdk ~= 3.32",
	"twilio ~= 9.3",

	# General
	"beautifulsoup4 ~= 4.12",
	"PyYAML ~= 6.0",
	"requests ~= 2.32",
]

[tool.setuptools.packages.find]
include = ["autokitteh", "autokitteh.*"]
