{{ template "header_" . }}

<h1>Connection: <tt>{{ .Name }}</tt></h1>

{{ if .ConnectionURL}}
<button onclick='location.href="{{ .ConnectionURL }}?cid={{ .ID }}"'>Initialize</button>
{{ end }}

<pre>{{ .JSON }}</pre>

<h2>{{ .Vars.N }} Vars</h2>
<button onclick="deleteAllVars()">Delete All</button>
{{ template "list_table_" .Vars}} <h2>{{ .Events.N }} Events</h2>
{{ template "list_table_" .Events}}

<script>
    function deleteAllVars() {
        fetch("/connections/{{ .ID }}/vars", {
            method: "DELETE",
        }).then(response => {
            if (response.ok) {
                location.reload()
            } else {
                alert("Failed to delete all vars")
            }
        }).catch(error => {
            alert("Failed to delete all vars")
        })
    }
</script>

{{ template "footer_" . }}
