{{ define "event-state" }}
  {{ typeOf .State.Type | replace "*event.EventState_" "" | upper }}
{{ end }}

{{ define "project-event-state" }}
  {{ $s := (first .).State }}
  {{ $pid := (last .) }}
  {{ $t := typeOf $s.Type }}
  {{ $t | replace "*event.ProjectEventState_" "" | upper }}
  {{ if eq $t "*event.ProjectEventState_Waiting" }}
    {{ (toDict $s.Type).Waiting.names | join " " }}
  {{ end }}
  {{ if eq $t "*event.ProjectEventState_Loading" }}
    {{ $p := (toDict $s.Type).Loading.main_path }}
    {{ $p.scheme }}:{{ $p.path }}#{{ $p.version }}
  {{ end }}
  {{ if eq $t "*event.ProjectEventState_Loaded" }}
    {{ range (toDict $s.Type).Loaded.paths }}
      <a href="/dashboard/programs/{{ $pid }}?path={{ .scheme }}:{{ .path }}#{{ .version }}" target="_blank" rel="noopener noreferrer">{{ .scheme }}:{{ .path }}#...{{ .version | trunc -6 }}</a>
    {{ end }}
  {{ end }}
{{ end }}

{{ define "header" }}
<html>
  <head>
    <title>{{ . }}</title>

    <link rel="stylesheet" href="/dashboard/static/dashboard.css">
  </head>
  <body>
    <nav>
      autokitteh |&nbsp; <a href="/dashboard/events">Events</a> &nbsp; <a href="/dashboard/litterbox">LitterBox</a>
    </nav>
{{ end }}

{{ define "footer" }}
  </body>
</html>
{{ end }}
