{{ define "event-state" }}
  {{ typeOf .State.Type | replace "*event.EventState_" "" | upper }}
{{ end }}

{{ define "project-event-state" }}
  {{ $t := typeOf .State.Type }}
  {{ $t | replace "*event.ProjectEventState_" "" | upper }}
  {{ if eq $t "*event.ProjectEventState_Waiting" }}
    {{ (toDict .State.Type).Waiting.names | join " " }}
  {{ end }}
{{ end }}

{{ define "header" }}
<html>
  <head>
    <title>{{ . }}</title>

    <link rel="stylesheet" href="/dashboard/static/dashboard.css">
  </head>
  <body>
    <nav>
      autokitteh |&nbsp; <a href="/dashboard/events">Events</a>
    </nav>
{{ end }}

{{ define "footer" }}
  </body>
</html>
{{ end }}
