{{ template "header" "LitterBox " }}

<p>
<label for="lbid">ID:</label>
<input type="text" id="lbid" value="n/a" size="80" readonly></input>
</p>

<p>
<label for="example">Examples:</label>
<select name="example" id="example" onchange="changeExample()">
  <option value=""></option>
  {{ range $k, $v := .Examples }}
  <option value="{{ $k }}">{{ $k }}</option>
  {{ end }}
</select>
</p>

<p>
  <h3>
    Program
    <button onclick="setup()">Setup</button> 
    <button onclick="scoop()">Scoop</button>
  </h3>
  <textarea id="source" name="source" rows="20" cols="80"></textarea>
</p>

<p>
  <h3>
    Event
    <button onclick="sendEvent()">Send</button>
    <label for="eventexample">Example:</label>
    <select name="eventexample" id="eventexample" onchange="changeEventExample()"></select>
  </h3>
  <textarea id="event" name="event" rows="10" cols="80"></textarea>
</p>

<p>
  <h3>
    Console
    <button onclick="clearLog()">Clear</button>
  </h3>
  <textarea readonly id="console" name="console" rows="10" cols="80"></textarea>
</p>

<script>
  const examples = JSON.parse("{{ .JSONExamples }}")

  function addLog(txt) {
    document.getElementById("console").value += txt + "\n"
  }

  function clearLog() {
      document.getElementById("console").value = ""
  }

  function changeEventExample() {
    const sel = document.getElementById("example").value

    const ex = document.getElementById("eventexample").value

    const x = ex ? examples[sel]['events'][ex] : ""

    document.getElementById("event").value = x
  }

  function changeExample() {
    const sel = document.getElementById("example").value

    const ex = document.getElementById("eventexample")
    ex.innerHTML = ''

    if (sel == "") {
      return
    }

    const x = examples[sel]

    document.getElementById("source").value = x["source"]

    for (const k of Object.keys(x['events'])) {
      var option = document.createElement("option");
      option.text = k
      ex.add(option);
    }

    var option = document.createElement("option");
    ex.add(option);

    changeEventExample()
  }

  function source() {
    e = document.getElementById("source")
    return e.value;
  }

  function eventData() {
    e = document.getElementById("event")
    return e.value;
  }

  async function setup() {
    clearLog()

    const resp = await fetch('http://{{ .Addr }}/api/v1/litterboxes', {
      method: 'POST',
      headers: {
        'Content-Type': 'text/plain',
      },
      body: source(),
    })

    const body = await resp.json()

    if (!resp.ok) {
      console.error('setup: ', body)
      return
    }

    console.log('setup: ', body)
    document.getElementById("lbid").value = body['id'];
  }

  function scoop() { console.error("scoop not implemented yet") }

  async function sendEvent() {
    const lbid = document.getElementById('lbid').value;
    console.log("---\nsend: " + lbid + "\nevent: " + eventData());

    const resp = await fetch("http://{{ .Addr }}/api/v1/litterboxes/" + lbid + "/events", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: eventData(),
    })

    if (!resp.ok) {
      const err = await resp.json()
      console.error('event: ', err)
      return
    }

    const r = resp.body.getReader();
    for await (const l of readLines(r)) {
      p = JSON.parse(l)['result']

      console.debug(p)

      pes = p.projectEventState?.state

      if (pes) {
        console.info(pes)
      }

      const sum = p.flattenedRunSummary
      if (sum) {
        const prints = sum.prints

        if (prints) {
          clearLog()

          for (const l of prints) {
            addLog(l)
          }
        }
      }

      const err = pes?.error
      if (pes?.error) {
        addLog("error: " + pes.error)
      }
    }
  }

  async function *readLines(reader) {
      const textDecoder = new TextDecoder();
      let partOfLine = '';
      for await (const chunk of readChunks(reader)) {
          const chunkText = textDecoder.decode(chunk);
          const chunkLines = chunkText.split('\n');
          if (chunkLines.length === 1) {
              partOfLine += chunkLines[0];
          } else if (chunkLines.length > 1) {
              yield partOfLine + chunkLines[0];
              for (let i=1; i < chunkLines.length - 1; i++) {
                  yield chunkLines[i];
              }
              partOfLine = chunkLines[chunkLines.length - 1];
          }
      }
  }

  function readChunks(reader) {
      return {
          async* [Symbol.asyncIterator]() {
              let readResult = await reader.read();
              while (!readResult.done) {
                  yield readResult.value;
                  readResult = await reader.read();
              }
          },
      };
  }
</script>

{{ template "footer" }}
