# Requirements for the default AutoKitteh Python environment
# This should be in sync with py-sdk/pyproject.toml

# Integrations

atlassian-python-api ~= 3.41
boto3 ~= 1.34
discord.py ~= 2.4
google-api-python-client ~= 2.137
google-auth-httplib2 ~= 0.2
google-auth-oauthlib ~= 1.2
google-generativeai ~= 0.7
openai ~= 1.35
PyGithub ~= 2.3
redis ~= 5.0
slack-sdk ~= 3.31
twilio ~= 9.2

# AutoKitteh SDK

autokitteh ~= 0.2

# General

beautifulsoup4 ~= 4.12
PyYAML ~= 6.0
requests ~= 2.32
