{{if .Input}}
    {{- with $input := index .Input 0}}
        {{- trimSpace $input.Name}}
    {{- end}}

    {{- if gt (len .Input) 1}}
        {{- range $input := slice .Input 1}}
            {{- trimSpace $input.Name | printf ", %s"}}
        {{- end}}
    {{- end}}
{{- end -}}
