"""{{trimSpace .DisplayName}}.

{{trimSpace .Description}}

{{if .UserLinks}}References:{{end}}
{{- range $label, $link := .UserLinks}}
  - {{refLabel $label}}: {{trimSpace $link}}
{{- end}}
"""

{{- range $name, $func := .Module.Functions}}

def {{$name}}({{template "py_func_args.tmpl" $func}}):
    pass
{{- end}}
