name: Continuous Integration - Python

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test-python:
    name: Build + unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    python-version: "3.12"
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
      - name: Test
        run: cd runtimes/pythonrt && make ci
