# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go
# https://github.com/marketplace/actions/setup-go-environment
# https://golangci-lint.run/usage/install#github-actions

name: CI - Go

on:
  pull_request:
  push:
    branches: [main]

jobs:
  go-unit-tests:
    name: Go build + unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Download Go modules
        run: go mod download
      - name: Install gotestsum
        run: go install gotest.tools/gotestsum@latest

      - name: Build
        run: go build -trimpath ./...

      - name: Test
        run: gotestsum -f github-actions -- -trimpath $(go list ./... | grep -v -E "autokitteh/tests|runtimes/python")

  go-session-tests:
    name: Go session tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Download Go modules
        run: go mod download

      - name: Build AK
        run: go build -trimpath -o bin/ak ./cmd/ak

      - name: Test
        run: PYTHON=skip ./tests/sessions/run.sh

  go-system-tests:
    name: Go system tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Download Go modules
        run: go mod download
      - name: Install gotestsum
        run: go install gotest.tools/gotestsum@latest

      - name: Build AK
        run: go build -trimpath -o bin/ak ./cmd/ak

      - name: Test
        run: gotestsum -f github-actions -- -trimpath ./tests/system/...

  go-static-analysis:
    name: Go static analysis
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Detect unformatted Go
        run: make gofmt-check

      - name: Run Go linters
        uses: golangci/golangci-lint-action@v6
        with:
          # Keep the same version in "/Makefile"!
          # See: https://github.com/golangci/golangci-lint/releases
          version: v1.64.5
          # https://github.com/golangci/golangci-lint-action/issues/308
          args: --timeout=7m
