# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go
# https://github.com/marketplace/actions/setup-go-environment
# https://golangci-lint.run/usage/install#github-actions

name: CI - Go

on:
  pull_request:
  push:
    branches: [main]

jobs:
  go-unit-tests:
    name: Go build + unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Download Go modules
        run: go mod download
      - name: Install gotestsum
        run: go install gotest.tools/gotestsum@latest

      - name: Build
        run: go build -trimpath ./...

      - name: Test
        run: gotestsum -f testname -- -trimpath $(go list ./... | grep -v -E "autokitteh/tests|runtimes/python")

  go-session-tests:
    name: Go session tests
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Download Go modules
        run: go mod download

      - name: Build AK
        run: go build -trimpath -o bin/ak ./cmd/ak

      - name: Test
        run: PYTHON=skip ./tests/sessions/run.sh

  go-system-tests:
    name: Go system tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Download Go modules
        run: go mod download
      - name: Install gotestsum
        run: go install gotest.tools/gotestsum@latest

      - name: Build AK
        run: go build -trimpath -o bin/ak ./cmd/ak

      - name: Test
        run: gotestsum -f testname -- -trimpath ./tests/system

  static-analysis:
    name: Static analysis
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Detect unformatted Go
        run: make gofmt-check
      - name: Run Go linters
        uses: golangci/golangci-lint-action@v6
        with:
          # Keep the same version in "/Makefile"!
          # See: https://github.com/golangci/golangci-lint
          version: v1.64.5
          # https://github.com/golangci/golangci-lint-action/issues/308
          args: --timeout=7m

  verify-docker-builds:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: github.ref != 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup version info
        run: |
          # These are consumed in the Dockerfile.
          echo "${GITHUB_REF#refs/tags/}" > .version
          echo "${GITHUB_SHA}" > .commit
      - name: Verify Image Builds
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64
          tags: autokitteh:latest
          push: false
          provenance: false

  publish_docker_image:
    needs:
      - go-unit-tests
      - go-session-tests
      - go-system-tests
      - static-analysis
    runs-on: ubuntu-latest
    timeout-minutes: 30
    if: github.ref == 'refs/heads/main'
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup version info
        run: |
          # These are consumed in the Dockerfile.
          echo "${GITHUB_REF#refs/tags/}" > .version
          echo "${GITHUB_SHA}" > .commit
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_GITHUB_ROLE }}
          role-session-name: Github_Action_Release_Autokitteh
          aws-region: us-east-1
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build And Push
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64
          tags: ${{ steps.login-ecr.outputs.registry }}/autokitteh:latest
          push: true
          provenance: false
