name: CI - Migrations

on:
  pull_request:
    paths:
      - .github/workflows/migrations.yml
      - internal/backend/db/dbgorm/scheme/**
  push:
    branches: [main]
    paths:
      - .github/workflows/migrations.yml
      - internal/backend/db/dbgorm/scheme/**

jobs:
  validate-migrations:
    name: Validate migration files
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Setup Atlas
        uses: ariga/setup-atlas@v0

      - name: Validate SQLite
        run: |
          OUTPUT=$(atlas migrate diff --env sqlite)

          if [[ $OUTPUT != "The migration directory is synced with the desired state, no changes to be made" ]]; then
              echo "Migration files are not in sync"
              echo $OUTPUT
              exit 1
          fi

      - name: Validate PostgreSQL
        run: |
          OUTPUT=$(atlas migrate diff --env postgres)

          if [[ $OUTPUT != "The migration directory is synced with the desired state, no changes to be made" ]]; then
              echo "Migration files are not in sync"
              echo $OUTPUT
              exit 1
          fi
