# See also "main-branch.yml" and "manual-docker-image.yml" for Docker images.
# https://github.com/marketplace/actions/goreleaser-action
# https://github.com/marketplace/actions/configure-aws-credentials-action-for-github-actions
# https://github.com/marketplace/actions/amazon-ecr-login-action-for-github-actions
# https://github.com/marketplace/actions/build-and-push-docker-images

name: Release

concurrency:
    group: ${{ github.ref_name }}
    cancel-in-progress: false

# https://docs.github.com/en/actions/writing-workflows/choosing-when-your-workflow-runs/events-that-trigger-workflows#release
on:
    release:
        types: [published]

permissions:
    contents: read
    id-token: write

jobs:
    goreleaser-opensource:
        name: GoReleaser (Open Source)
        runs-on: ubuntu-latest
        timeout-minutes: 30
        permissions:
            contents: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version-file: go.mod

            - name: Fetch web platform
              run: make webplatform

            - name: Run GoReleaser (Open Source)
              uses: goreleaser/goreleaser-action@v6
              with:
                  version: latest
                  args: release --clean --config .goreleaser-opensource.yaml
              env:
                  GITHUB_TOKEN: ${{secrets.HOMEBREW_TAP_TOKEN}}

    goreleaser-ee:
        name: GoReleaser (Enterprise)
        runs-on: ubuntu-latest
        timeout-minutes: 30
        permissions:
            contents: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version-file: go.mod

            - name: Fetch web platform
              run: make webplatform

            - name: Run GoReleaser (Enterprise)
              uses: goreleaser/goreleaser-action@v6
              with:
                  version: latest
                  args: release --clean --config .goreleaser-ee.yaml
              env:
                  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

    build-standard:
        uses: ./.github/workflows/docker.yml
        with:
            push: true
            image: server
        secrets: inherit

    build-ee:
        uses: ./.github/workflows/docker.yml
        with:
            push: true
            image: ee/server
            buildTags: "enterprise"
        secrets: inherit
